.row {
  margin-bottom: 7px;
  margin-top: 7px;
}

/* ====================================================

   ============ Skin the fileupload widget ============ 

   ==================================================== */
   
span.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left {
	overflow: hidden;
}

table.ui-fileupload-files {
	display: none;
}

.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
	border: none;
	background: transparent;
	padding: 0;
}

.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
	border: none;
	background: transparent;
	color: transparent;
}

span.ui-messages-error-icon, span.ui-messages-info-icon {
	display: none;
}

.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
  margin-bottom: 10px;
}

.upload-zone {
  min-height: 80px;
}

.ui-messages-info.ui-corner-all {
	margin : 0;
}

.uploadMessage {
	margin-bottom: 10px;
}